/* Slider */

*,
::before,
::after {
  box-sizing: border-box;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;

}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

.slide img {
  max-width: 100%;
  display: none;
}

img.active {
  display: block;
  animation: fade 0.8s;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cont-btn {
  width: 100%;
  height: auto;
  border: 1px solid #000;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}

.btn-nav {
  font-size: 50px;
  margin: 0 15px;
  cursor: pointer;
}

.container_video {
  display: flex;
  flex-wrap: nowrap;
}

.container_video video {
  max-width: 100%;
  padding: 10px;

}


/* Page */

body {
  background-image: url("fond.jpg");
  width: 100%;

}

.big_titre {
  padding-top: 105px;
  text-align: center;
}

/* header */

header {
  background-color: #002833;
}

nav {
  margin: 0 0 0 auto;
  padding-top: 40px;
}

nav ul {
  list-style-type: none;
  text-align: right;
}

nav li {
  margin-right: 18px;
  
} 

nav a {
  font-size: 20px;
  color: white;
  padding-bottom: 2px;
  text-decoration: none;
}


/* footer */
#container_footer {
  display: flex;
  justify-content: space-around;
  background-color: #002833;
  color:white;
  flex-wrap: wrap;
}

.logo {
  float: left;
  margin-right: 10%;
  display: flex;
  margin-top: 10px;
}

.fa-facebook {
  color: white;
  font-size: 25px;
}

.fa-instagram {
  color: white;
  font-size: 25px;
  font
}