/* Slider */

*,
::before,
::after {
  box-sizing: border-box;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
}

.slide img {
  max-width: 100%;
  display: none;
}

img.active {
  display: block;
  animation: fade 0.8s;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cont-btn {
  width: 100%;
  height: auto;
  border: 1px solid #000;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}

.btn-nav {
  font-size: 50px;
  margin: 0 15px;
  cursor: pointer;
}

.container_video {
  display: flex;
  flex-wrap: nowrap;
}

.container_video video {
  max-width: 100%;
  padding: 10px;

}


/* Page */

body {
  background-image: url("fond.jpg");

}

.big_titre {
  padding-top: 105px;
  text-align: center;
}

/* header */
.logo_menu {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0%;
  background-color: #002833;
  left: 0;

}

.container_menu {
  height: 70px;
  max-width: 80%;
  margin: auto;
  width: 100%;
  align-items: center;
}

#logo {
  float: left;
  margin-right: 10%;
  display: flex;
  
}

nav {
  margin: 0 0 0 auto;
  padding-top: 40px;
}

nav ul {
  list-style-type: none;
  text-align: right;
}

nav li {
  margin-right: 18px;
  display: inline;
  padding-left: 8px;
  padding-right: 8px;
}

nav a {
  font-size: 20px;
  color: white;
  padding-bottom: 2px;
  text-decoration: none;
}

nav a:hover {
  color: #f29c53;
}

/* footer */
#container_footer {
  display: flex;
  justify-content: space-around;
  background-color: #002833;
  color:white;
  flex-wrap: wrap;
}

.logo {
  float: left;
  margin-right: 10%;
  display: flex;
  margin-top: 10px;
}

.fa-facebook {
  color: white;
  font-size: 25px;
}

.fa-instagram {
  color: white;
  font-size: 25px;
  font
}